<div class="login-form">
<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Форма авторизации</mat-card-title>
    <mat-card-subtitle>Каким образом хотите авторизоваться?</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/directoryvkrt.appspot.com/o/auth.png?alt=media&token=71830927-d9e9-4063-a5a3-889f588615a2" alt="AuthenticationIMG">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginFB()" id="facebook" >Facebook</button>
    <button mat-raised-button (click)="loginGoogle()" id="google" >Google</button>
    <button mat-raised-button routerLink="/login-email" id="email">Email/Password</button><br><br>
    Нет аккаунта?  <a routerLink="/signup" routerLinkActive="active" class="alc"><strong> Зарегистрироваться!</strong></a>
  </mat-card-actions>
</mat-card>
</div>
