<h1>
  Панель формирования текста для CMS
</h1>
<mat-tab-group>
  <mat-tab label="Формирование заявки">
<mat-vertical-stepper [linear]="!isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Причина проведения</ng-template>
      <mat-form-field style="min-width:400px !important;">
        <textarea matInput placeholder="Описание проблемы" formControlName="firstCtrl" required></textarea>
      </mat-form-field>
      <mat-form-field style="min-width:400px !important; margin-left: 20px">
        <textarea matInput placeholder="Пример" readonly>Не работает камера, перезагрузка оборудования не помогла, требуется выезд специалистов.</textarea>
      </mat-form-field>

      <div>
        <button mat-raised-button  color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fiveFormGroup">
    <form [formGroup]="fiveFormGroup">
      <ng-template matStepLabel>Интернет Ростелеком</ng-template>
      <mat-form-field style="min-width:400px !important;">
        <h4>Интернет предоставляет Ростелеком?</h4>
        <mat-select [(value)]="selected" formControlName="firstCtrl" required>
          <mat-option value="yes">Да</mat-option>
          <mat-option value="no">Нет</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button class="next-step" mat-raised-button  color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Список камер (s/n, модель)</ng-template>
      <mat-checkbox style="margin-bottom:25px;" [(ngModel)]="checked" formControlName="thirdCtrl">Не работают все камеры.</mat-checkbox>
      <br>
      <div *ngIf="!checked" >
      <!--One Camera -->
      <mat-form-field >
        <input matInput placeholder="S/N камеры" maxlength="9" formControlName="firstCtrl" [(ngModel)]="secondFormGroup.value.firstCtrl">
      </mat-form-field>
      <mat-form-field style="min-width:50px !important; margin-left: 20px">
      <input matInput placeholder="Модель" formControlName="secondCtrl" [(ngModel)]="secondFormGroup.value.secondCtrl">
      </mat-form-field>
        <button mat-raised-button color="accent" class="next-step" (click)="addCamera(secondFormGroup.value.firstCtrl, secondFormGroup.value.secondCtrl)">Еще одна камера</button>
      <!--One Camera -->
      </div>
      <mat-list *ngIf="!checked">
        <mat-list-item *ngFor="let camera of CameraArray">
          {{CameraArray.indexOf(camera)+1}}) S/N: {{camera.sn}}, Модель: {{camera.model}}, {{camera.$key}}
          <button mat-icon-button (click)="DeleteItem(CameraArray.indexOf(camera))">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div class="action-buttons">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button class="next-step" mat-raised-button  color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="sixFormGroup">
    <form [formGroup]="sixFormGroup">
      <ng-template matStepLabel>Адрес</ng-template>
        <ngx-da-data placeholder="Адрес нахождения камер" formControlName="currentAddress" [config]="configAddress" required></ngx-da-data>
      <div class="action-buttons">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button class="next-step" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Организация</ng-template>
      <mat-form-field style="min-width:400px !important;">
        <input matInput placeholder="Название организации" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field style="min-width:200px !important; margin-left: 20px">
        <input matInput placeholder="email" formControlName="secondCtrl" required>
      </mat-form-field>
      <mat-form-field style="min-width:200px !important; margin-left: 20px">
        <input matInput placeholder="ИЛС" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button class="next-step" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourFormGroup">
    <form [formGroup]="fourFormGroup">
      <ng-template matStepLabel>Контактные данные</ng-template>
      <mat-form-field>
        <input matInput placeholder="Телефон" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field style="margin-left: 20px">
        <input matInput placeholder="ФИО" formControlName="secondCtrl" required>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-raised-button matStepperPrevious>Назад</button>
        <button class="next-step" mat-raised-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Готово</ng-template>
    Текст успешно сформирован.
    <div class="action-buttons">
      <button mat-raised-button matStepperPrevious>Назад</button>
      <button class="next-step" mat-raised-button  color="warn" (click)="formInfo()">Получить данные</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<mat-card *ngIf="complete" style="margin-top:20px" >
  <ul>
    <li>Описание проблемы: {{firstFormGroup.value.firstCtrl}}</li>
    <li *ngIf="selected == 'yes'">Интернет: Ростелеком</li>
    <li *ngIf="selected == 'no'">Интернет: Сторонний провайдер</li>
    <li *ngIf="!checked && CameraArray.length === 0 ">
     Камера: S/N: {{secondFormGroup.value.firstCtrl}}, Модель: {{secondFormGroup.value.secondCtrl}}
    </li>
    <li *ngIf="!checked && CameraArray.length > 0">Камеры:
      <mat-list>
        <mat-list-item *ngFor="let camera of CameraArray">
          {{CameraArray.indexOf(camera)+1}}) S/N: {{camera.sn}}, Модель: {{camera.model}}
        </mat-list-item>
      </mat-list>
    </li>
    <li *ngIf="checked">Не работают все камеры.</li>
    <li>Адрес: {{sixFormGroup.value.currentAddress}}</li>
    <li>Организация: {{thirdFormGroup.value.firstCtrl}}</li>
    <li>email: {{thirdFormGroup.value.secondCtrl}} </li>
    <li>ИЛС: {{thirdFormGroup.value.thirdCtrl}}</li>
    <li>КД: телефон: {{fourFormGroup.value.firstCtrl}}, {{fourFormGroup.value.secondCtrl}}</li>
  </ul>
</mat-card>
  </mat-tab>
  <mat-tab label="Таблица соответствия городов">
<app-citiesmrf-list></app-citiesmrf-list>
  </mat-tab>
  <mat-tab label="История CMS">
    <app-cmshistory></app-cmshistory>
  </mat-tab>
</mat-tab-group>
