<nav>
  <ul>
    <li>
      <a routerLink=""[class.activated] = "router.url == '/'">
        <i class="material-icons">menu</i> <b>Home</b>
      </a>
    </li>
    <li>
      <a routerLink="cameras" [class.activated] = "router.url == '/cameras'">
        <i class="material-icons">duo</i><b>Cameras</b>
      </a>
    </li>
    <li>
      <a routerLink="cms" [class.activated] = "router.url == '/cms'">
        <i class="material-icons">message</i><b>CMS</b>
      </a>
    </li>
    <li>
      <a routerLink="users" [class.activated] = "router.url == '/users'">
        <i class="material-icons">group</i> <b>Users</b>
      </a>
    </li>
    <li>
      <a routerLink="settings" [class.activated] = "router.url == '/settings'">
        <i class="material-icons">build</i> <b>Settings</b>
      </a>
    </li>
  </ul>
</nav>
