@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 150px auto;
  height: 100%;

  #content {
    padding: 30px 50px;

    ul {
      list-style-type: none;
      margin:0;padding:0;

      li {
        background: #fff;
        border-radius: 8px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color:#00A8FF;
        }

        ul {
          margin-top: 20px;

          li {
            padding:0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
/* notification */
snack-bar-container.success {
  background-color: #5cb85c;
  color : #fff;
}

snack-bar-container.warn {
  background-color: #f99157;
  color : #fff;
}


snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}


.hide{
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}
