.item-success {
  text-decoration: line-through;
}

.mat-line {
  white-space: normal !important;
}
.mat-list-item {
  height: auto !important;
  background: white !important;
  padding: 5px !important;
}

.mat-list-text {
  padding: 5px !important;
}

.mat-card-content {
  margin-bottom: 0 !important;
}
