<h2>Список задач</h2>

<form class="input-form">
  <mat-form-field style="width:50%">
    <input matInput  placeholder="Введите текст задачи" [formControl]="inputFormControl" [errorStateMatcher]="matcher" #itemTitle>
    <mat-error *ngIf="inputFormControl.hasError('required')">
      Текст задачи <strong>не заполнен</strong>
    </mat-error>
  </mat-form-field>
  <mat-checkbox style="padding-left: 15px; padding-right: 15px;" [(ngModel)]="checked" name="checked">Видимая для всех</mat-checkbox>
  <button mat-raised-button color="primary" style="margin-left: 25px" *ngIf="inputFormControl.value.length > 0" (click)="onAdd(itemTitle, checked)">Добавить</button>
</form>
<div *ngIf="visibleList" >
<mat-nav-list>
  <mat-card-content *ngFor="let item of toDoListArray">
    <mat-list-item>
      <a matLine [class.item-success]="item.isChecked">{{ item.title }} </a>
      <span *ngIf="item.isChecked" style="color:green; margin-right: 25px">Выполнено</span>
      <mat-checkbox (click)="alterCheck(item.$key,item.isChecked)" [(ngModel)]="item.isChecked"></mat-checkbox>
      <button mat-icon-button (click)="onDelete(item.$key)"><mat-icon>delete_forever</mat-icon></button>
      <p matLine style="padding:5px; font-style: italic;">
        <span style="padding-right: 10px;"> Добавлено: {{item.dateAdd | date : 'HH:mm dd.MM'}} ({{item.username}})</span>
        <span *ngIf="item.forAll == true" style="padding-left: 15px; color: red" >Видимая для всех</span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-card-content>
</mat-nav-list>
</div>
